<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!--Minfied Css-->
    <link rel="stylesheet" type="text/css" href="build/dist/app.min.css">
    <!--Icon Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
</head>

<body ng-app="app">
    <!--Header-->
    <my-header></my-header>
Hello
    <div ng-controller="AppCtrl as appController">
        <div id="authorize-div" style="display: none">
            <span>Authorize access to Drive API</span>
            <!--Button for the user to click to initiate auth sequence -->
            <md-button class="md-raised" id="authorize-button" ng-click="appController.handleAuthClick(event)">
                Authorize
            </md-button>
        </div>

        <div class="layout-row">
            <div ng-repeat="file in appController.files">
                <md-button ng-click="appController.selectFile(file)">
                    {{file.name}}
                </md-button>
            </div>
        </div>
    </div>
    <div class="iFrameHolder" style="height:100%">

    </div>
    <!--Add Item Directive-->
    <my-add-item></my-add-item>

    <!-- Minfied js -->
    <script type="text/javascript" src="build/dist/app.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>
</html>
